body{
    margin:0;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:#f4f4f4;
    font-family:Arial, sans-serif;
}

.phone{
        width:80%;
        max-width:800px;
        min-height:600px;
        background:#1ea5ff;
        border-radius:20px;
        padding:20px;
        text-align:center;
        box-shadow:0 0 15px gray;
    }

h1,h2,h3{
    color:white;
}

.question-box{
    background:white;
    padding:25px;
    border-radius:15px;
    margin:20px auto;
    width:80%;
    font-size:20px;

}

button{
    width:150px;
    padding:10px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    margin-top:15px;
}

.option{
    display:block;
    width:80%;
    background:white;
    margin:10px auto;
    padding:15px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-size:18px;
    transition: all 0.3s ease;
}
.option:hover {

    transform: scale(1.05);

}

/*Animación al aparecer una pregunta*/
@keyframes fadeIn {

    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}

.question-box {

    animation: fadeIn 0.5s ease;
}

/*Efecto de sacudida cuando le den a la respuesta incorrecta*/
@keyframes shake {

    0% { transform: translateX(0); }

    25% { transform: translateX(-5px); }

    50% { transform: translateX(5px); }

    75% { transform: translateX(-5px); }

    100% { transform: translateX(0); }

}

.wrong {

    animation: shake 0.4s;
}

/*Estilos para la parte del monstruo persiguiendo*/

#virus-game{
    position: relative;
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
}

#runner{
    position: absolute;
    left: 20px;
    font-size: 50px;
}

#virus{

    position: absolute;
    right: 20px;
    font-size: 50px;
    transition: transform 0.7s ease;

}